<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%JAVA_HOME%\bin\java.exe" arguments="-Dplay.http.secret.key=abcdefghijk -Dhttp.port=%HTTP_PLATFORM_PORT% -jar &quot;%HOME%\site\wwwroot\webjob-play-sample-assembly-1.0-SNAPSHOT.jar&quot;">
    </httpPlatform>
  </system.webServer>
</configuration>